In [7]:
import numpy as np
import pandas as pd

In [8]:

df=pd.read_csv('tennis.csv')
df

     Outlook Temperature Humidity    Wind Play Tennis
0      Sunny         Hot     High    Weak          No
1      Sunny         Hot     High  Strong          No
2   Overcast         Hot     High    Weak         Yes
3       Rain        Mild     High    Weak         Yes
4       Rain        Cool   Normal    Weak         Yes
5       Rain        Cool   Normal  Strong          No
6   Overcast        Cool   Normal  Strong         Yes
7      Sunny        Mild     High    Weak          No
8      Sunny        Cool   Normal    Weak         Yes
9       Rain        Mild   Normal    Weak         Yes
10     Sunny        Mild   Normal  Strong         Yes
11  Overcast        Mild     High  Strong         Yes
12  Overcast         Hot   Normal    Weak         Yes
13      Rain        Mild     High  Strong          No

In [9]:
df['score']=np.random.randint(10,100,14)

In [10]:

df

     Outlook Temperature Humidity    Wind Play Tennis  score
0      Sunny         Hot     High    Weak          No     41
1      Sunny         Hot     High  Strong          No     40
2   Overcast         Hot     High    Weak         Yes     86
3       Rain        Mild     High    Weak         Yes     91
4       Rain        Cool   Normal    Weak         Yes     61
5       Rain        Cool   Normal  Strong          No     63
6   Overcast        Cool   Normal  Strong         Yes     74
7      Sunny        Mild     High    Weak          No     27
8      Sunny        Cool   Normal    Weak         Yes     75
9       Rain        Mild   Normal    Weak         Yes     87
10     Sunny        Mild   Normal  Strong         Yes     92
11  Overcast        Mild     High  Strong         Yes     49
12  Overcast         Hot   Normal    Weak         Yes     21
13      Rain        Mild     High  Strong          No     42

In [11]:
df.groupby(['Outlook','Humidity'])['score'].sum()

Outlook   Humidity
Overcast  High        135
          Normal       95
Rain      High        133
          Normal      211
Sunny     High        108
          Normal      167
Name: score, dtype: int32

In [12]:
df.groupby(['Outlook','Humidity'])['score'].agg(['sum','min','count'])

                   sum  min  count
Outlook  Humidity
Overcast High      135   49      2
         Normal     95   21      2
Rain     High      133   42      2
         Normal    211   61      3
Sunny    High      108   27      3
         Normal    167   75      2